{include file="header.htm" /}
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div class="page">
    {include file="bar.htm" /}
    <div class="flexigrid">
        <div class="mDiv" style="margin-left: 30px;">
            <p style="font-size: 15px;line-height: 2em;">【站内公告插件简单介绍】</p>
            <ol style="font-size: 15px;line-height: 2em;">
                <li>管理员在后台发送网站动态到会员中心 </li>
                <li>第一步：点击【添加公告】</li>
                <li>第二步：填写【通知标题】【通知内容】，鼠标点击【通知某个会员】输入框，会弹出显示您网站全部会员的账号，选择某个会员会发给此会员信息，其他会员接收不到，不填写则所有会员可以接收此通告！</li>
            </ol>
        </div>
    </div>
</div>
{include file="footer.htm" /}