{include file="header.htm" /}
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    {include file="bar.htm" /}
<!--     <div class="ncap-form-default">
    <dl class="row">
        <dt class="tit" style="padding-left: 10px;">
            <label>引入jQuery.js</label>
        </dt>
        <dd class="opt">
            <div class="onoff">
                <label for="is_jquery1" class="cb-enable {if condition='isset($comment.data.is_jquery) && $comment.data.is_jquery eq 1'}selected{/if}">是</label>
                <label for="is_jquery0" class="cb-disable {if condition='empty($comment.data.is_jquery)'}selected{/if}">否</label>
                <input id="is_jquery1" name="is_jquery" value="1" type="radio" {if condition="isset($comment.data.is_jquery) && $comment.data.is_jquery eq 1"} checked="checked"{/if}>
                <input id="is_jquery0" name="is_jquery" value="0" type="radio" {if condition="empty($comment.data.is_jquery)"} checked="checked"{/if}>
            </div>
            <p class="notic">针对页面没有引入第三方jquery脚本文件，以免评论功能无法正常使用。</p>
        </dd>
    </dl>
</div> -->
    <div class="flexigrid">
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0" style="width: 100%">
                    <thead>
                    <tr>
                        <th class="sign w10" axis="col0">
                            <div class="tc"></div>
                        </th>
                        <th abbr="ac_id" axis="col4">
                            <div class="">会员级别</div>
                        </th>
                        <th abbr="article_time" axis="col6" class="w100">
                            <div class="tc">允许评论</div>
                        </th>
                        <th abbr="article_time" axis="col6" class="w100">
                            <div class="tc">需要审核</div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="bDiv" style="height: auto;">
            <form id="PostForm">
                <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                    <table style="width: 100%">
                        <tbody>
                        {empty name="list"}
                            <tr>
                                <td class="no-data" align="center" axis="col0" colspan="50">
                                    <i class="fa fa-exclamation-circle"></i>没有符合条件的记录
                                </td>
                            </tr>
                        {else/}
                            {volist name="list" id="vo"}
                            <tr>
                                <td class="sign">
                                    <div class="tc w10"></div>
                                </td>
                                <td style="width: 100%">
                                    <div style="">
                                        {empty name='$vo.users_level_id'}
                                            游客
                                        {else /}
                                            {$vo.level_name}
                                        {/empty}
                                    </div>
                                </td>
                                <td class="">
                                    <div class="w100 tc">
                                        {eq name="$vo['is_comment']" value='1'}
                                            <span class="yes" onclick="changeTableVal('weapp_comment_level','id','{$vo.id}','is_comment',this);"><i class="fa fa-check-circle"></i>是</span>
                                        {else /}
                                            <span class="no" onclick="changeTableVal('weapp_comment_level','id','{$vo.id}','is_comment',this);"><i class="fa fa-ban"></i>否</span>
                                        {/eq}
                                    </div>
                                </td>
                                <td class="">
                                    <div class="w100 tc">
                                        {eq name="$vo['is_review']" value='1'}
                                            <span class="yes" onclick="changeTableVal('weapp_comment_level','id','{$vo.id}','is_review',this);"><i class="fa fa-check-circle"></i>是</span>
                                        {else /}
                                            <span class="no" onclick="changeTableVal('weapp_comment_level','id','{$vo.id}','is_review',this);"><i class="fa fa-ban"></i>否</span>
                                        {/eq}
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                        {/empty}
                        </tbody>
                    </table>
                </div>
            </form>
            <div class="iDiv" style="display: none;"></div>
        </div>
        <!--分页位置-->
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function(){
            $(this).toggleClass('trSelected');
        });

        // 点击刷新数据
        $('.fa-refresh').click(function(){
            location.href = location.href;
        });
    });

    $(function(){
        $('input[name=is_jquery]').click(function(){
            layer_loading('正在处理');
            var value = $(this).val();
            $.ajax({
                type: "POST",
                url: "{:weapp_url('Comment/Comment/setData')}",
                data: {name:'is_jquery',value:value,_ajax:1},
                dataType: "JSON",
                success: function(res){
                    layer.closeAll();
                    if(parseInt(res.code) == 1){
                        layer.msg(res.msg, {icon: 1, time:500}, function(){
                            window.location.reload();
                        });
                    }else{
                        layer.alert(res.msg, {icon: 5});
                    }
                },
                error: function(e){
                    layer.closeAll();
                    layer.alert('未知错误，无法继续~', {icon: 5});
                }
            });
        });
    });
</script>
{include file="footer.htm" /}